.header-switch-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--surface-0);
}

.title {
    font-size: larger;
    font-weight: bolder;   
}

.switch-theme-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.content {
    padding: 1rem;
}

.content form > p {
    font-size: large;
    margin-bottom: 2rem;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

