<div class="container">
  <div class="header-switch-theme">
    <p class="title">PrimeNg Switch Themes</p>
    <div class="switch-theme-wrapper">
        <p-button id="light" icon="pi pi-sun" styleClass="p-button-rounded {{isSelectedTheme('lara-light-teal') ? '' : 'p-button-text'}}" (onClick)="changeTheme('lara-light-teal')"></p-button>
        <p-button id="dark" icon="pi pi-moon" styleClass="p-button-rounded {{isSelectedTheme('lara-dark-teal') ? '' : 'p-button-text'}}" (onClick)="changeTheme('lara-dark-teal')"></p-button>
    </div>
  </div>
  <div class="content">
    <form>
      <p class="form-title">Example Components</p>
      <div class="input-group p-float-label p-input-icon-left">
        <i class="pi pi-user"></i>
        <input pInputText id="username">
        <label htmlFor="username">Username</label>
      </div>
      <div class="input-group p-float-label p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input pInputText id="email">
        <label htmlFor="email">Email</label>
      </div>
      <div class="input-group p-float-label p-input-icon-left p-input-icon-right">
        <i class="pi pi-key"></i>
        <input pInputText id="password" type="{{showPassword ? 'text' : 'password'}}">
        <i class="pi pi-{{showPassword ? 'eye-slash': 'eye'}}" (click)="showPassword = !showPassword"></i>
        <label htmlFor="password">Password</label>
      </div>

      <div class="input-group p-float-label">
        <p-calendar [showIcon]="true" [dateFormat]="'dd/mm/yy'"></p-calendar>
        <label htmlFor="birthday">Birth Date</label>
      </div>

      <div class="actions">
        <p-button label="Dismiss" styleClass="p-button-text p-button-danger" icon="pi pi-times-circle" iconPos="right"></p-button>
        <p-button label="Submit" icon="pi pi-check-circle" iconPos="right"></p-button>
      </div>
    </form>
  </div>
</div>